<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="http://code.jquery.com/jquery.js"></script>
{% form_theme formExercice 'bootstrap_4_layout.html.twig' %}

<body>
    <div class="container-fluid" style="margin-top: 1em;">
        {% if modeModif %}
            <h3>Modifacation de l'exercice</h3>
            {% else %}
            <h3>Ajout d'un exercice</h3>
        {% endif %}

        {{ form_start(formExercice) }}
        {#{{ form_row(formExercice.matiere) }}#}
        {{ form_row(formExercice.chapitre) }}
        {{ form_row(formExercice.file) }}

        <button type="submit" class="btn btn-success">
            {% if modeModif %}
                Enregister les modifications
            {% else %}
                Ajouter l'exercice
            {% endif %}
        </button>

        {{ form_end(formExercice) }}
    </div>
<body>